.container {
  flex: 1;
  padding-top:50px;
  
}

.content {
    max-width: 72rem;
    margin: auto;
}

.list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--mantine-spacing-xs) ;
}

.item {
    grid-row: span 3 / span 3;
    border: solid 1px;
   
}